:root {
    --white-color: #fff;
    --primary-color: #434A54;
    --green-color: #1BBC9B;

}

* {
    box-sizing: inherit;
}

html {
    /*TIP HACK*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

