.header {
    height: 130px;
}

.header__infor {
    height: 46px;
    padding: 0 330px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__infor-item {
}

.header__infor-item--options {
    color: var(--white-color);
    padding-right: 18px;
    font-size: 1.3rem;
    font-weight: 500;
}

.header__options-icon {
    color: #a4a4a4;
    font-size: 1.4rem;
    padding-right: 10px;
}

.header-options__mail-icon {
    font-size: 1.8rem;
    color: #a4a4a4;
}

.header__mail-count {
    width: 15px;
    height: 15px;
    background-color: var(--green-color);
    align-items: center;
    display: inline-block;
}

.header-options__login{     
    color: var(--white-color);
    display: inline-block;
    align-items: center;
}

.header__login-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.header__login-item {
    color: var(--white-color);
    text-decoration: none;
}